.list-item-civilizations img {
        width: 150px;
        height: 100px;
        display: inline-block;  
}

.flex-wrapper {
    display: flex;
}

.flex-wrapper {
    text-align: center;
    font-weight: 500;
}