.posts {
    opacity: 0.3;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    font-size: 12px;
    & > div {
        width: 260px;
        margin: 3px
    } 
    button {
        margin-left: 80%;
    }
}