form{
  display: flex;
  position: relative;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 6px;
  width: 400px;
  padding: 20px;
  margin: 100px auto 50px;
  background: teal;
}
input, button{
  font-size: 1.2rem;
  margin: 12px 0;
  padding: 6px;
  color: gray;
  border-radius: 6px;
  border: none;
}
.error{
  border: 1px solid red;
  color: red;
}
.errorText{
  color: red;
  font-size: 1rem;
  background: white;
  padding: 3px;
  margin: -10px;
  border-radius: 3px;
}
