body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #2DB4AC;
background: -webkit-linear-gradient(top left, #2DB4AC, #AC72AA);
background: -moz-linear-gradient(top left, #2DB4AC, #AC72AA);
background: linear-gradient(to bottom right, #2DB4AC, #AC72AA);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.table {
	width: 90%;
  margin: 0 auto;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	/* border-collapse: collapse;  */
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.336);
  
}
.table th {
  border-collapse: collapse; 
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
  
}
.table td {
  border-collapse: collapse; 
	border: 1px solid #dddddd;
	padding: 5px;
  color: whitesmoke
}

.table tr {
height: 30px;
}

.myForm > form > p {
  margin: 0;
  text-align: left;
  font-size: 1em;
  line-height: 10px;
  height: 10px;
}

.myForm > form{
    width: 350px; 
    height: 220px;
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    /* position: absolute;
    left: 50%;
    top: 5%;
    transform: translateY(-50%);
    transform: translateX(-50%); */
}

.myForm {
  width: 400px;
  height: 300px;
  margin: 0 auto;
  margin-top: 3%;
  display: grid;
  justify-content: center;
  align-content: space-around;
  border-radius: 10px;
  box-shadow: 15px 12px 28px rgba(0,0,0,0.4), 0 10px 40px rgba(0,0,0,0.3);
  background-color: rgba(0, 0, 0, 0.336);
  position: relative; 
}

.wrappertable {
  display: flex;
  justify-content: space-evenly;
}

.myForm > button{
height: 50px;
width: 50%;
margin: 0 auto;
}

button {
  height: 50px;
  width: 100px;
  margin: 0 auto;
  align-self: center;
  justify-content: center;
  font-size: 1.5em;
}

.emptyField {
  background-color: rgb(255, 160, 116);
}

.fullField {
  background-color: rgb(151, 255, 206);
}