body {
    background:white;
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    background: none;
    border: 0px;
    color:black;  
    width: 150px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 8px;
    background-color: lightslategray;
    position: relative;
    display: inline-block;
}
  