.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 80px;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;

  &:focus {
    outline: none;
  }
}

.colorX {
  color: #dd604a;
}

.colorO {
  color: #4a6184;
}
