main {
  text-align: center;
  background-color: #9aaabd;
  padding: 16px;
}

h1 {
  font-size: 40px;
  color: coral;
  margin: 16px;
}

.main h2 {
  font-size: 32px;
  color: coral;
  margin: 8px;
}

.main p {
  font-size: 24px;
}
