.dataBaseItemCars {
  border-style: solid;
  border-width: 1px;
  border-color: blue;
  cursor: pointer;
}

/* table */
.cars-table {
  border: none;
  border-collapse: collapse;
  width: 90%;
  max-width: 90%;
  margin: auto;
}
.cars-table-listNumber {
  width: 5%;
}
.cars-table th,
.cars-table td {
  padding: 10px 20px;
  font-size: 13px;
  border: none;
  border: 1px solid #337ab7;
  vertical-align: top;
}
.cars-table th {
  border: 1px solid #337ab7;
  text-align: center;
}
/* .cars-table td span {
  font-size: 11px;
  font-weight: bold;
  padding: 5px 10px;
  top: 0;
  left: 0;
} */
