/* Basic Style */
body {
  background:white;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  display: block;
  width: 600px;
  margin: 0 auto 0;
}

p, h3 {
  margin: 10px;
}

.active {
  background: red;
}