main {
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    justify-content: space-around;
}

h1 {
    min-width: 100%;
}

.card {
    background-color: white;
    box-shadow: 0 0 20px 0 rgb(155, 149, 155);
    border-radius: 15px;
    padding: 20px;
    margin: 40px;
    max-width: 22%;
    height: 100%;
}