// ---------- MEDIA QUERIS ---------- \\
 // Extra large devices
 @mixin xl {
    @media (max-width: #{$screen-xl-min}) {
        @content;
    }
}

// Large devices
@mixin lg {
    @media (max-width: #{$screen-lg-min}) {
        @content;
    }
}

// Medium devices
@mixin md {
    @media (max-width: #{$screen-md-min}) {
        @content;
    }
}

// Small devices
@mixin sm {
    @media (max-width: #{$screen-sm-min}) {
        @content;
    }
}

// ExtraSmall devices
@mixin xs {
    @media (max-width: #{$screen-xs-min}) {
        @content;
    }
}

// ---------- FLEXBOX ---------- \\
@mixin flex($direction, $justify, $align, $wrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}

// ---------- TYPOGRAPHY ---------- \\
@mixin font($size, $weight, $height) {
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
}