.container__footer {
    display: flex;
    justify-content: space-around;
}

.footer__item {
    width: 30%;
}

.contacts__item {
    display: flex;
}

.footer__phone {
    display: flex;
}

.phone__item {
    margin-bottom: 10px;
}

.item__span {
    color: #ffb800;
    align-items: center;
    text-align: right;
    margin-right: 20px;
    margin-bottom: 10px;
}

.social__links {
    display: flex;
    justify-content: space-between;
    width: 120px;
    margin-top: 10px;
}