.header__form {
    backdrop-filter: blur(24px);
    width: 450px;
    /* border: solid 2px white; */
    border-radius: 10px;
    padding: 20px 50px;
}

.form__title {
    color: white;
    text-align: center;
    margin: 15px 0 10px;
    font-size: 20px;
}

.form {
    width: 350px;
    margin: 0 auto 40px;
}

.form__item {
    width: 100%;
}

.form__items {
    width: 47%;
}

.input_element {
    margin-right: 6%;
}

.form_element {
    margin-bottom: 10px;
}

.form__button {
    width: 100%;
    background: #FFB800;
    font-size: 16px;
    line-height: 16px;
    color: #333333;
    text-align: center;
    border: none;
}

.form__button:hover {
    cursor: pointer;
}

select, button, input {
    outline: none;
    height: 36px;
    border-radius: 4px;
}

input {
    padding: 10px;
}

select {
    padding: 5px;
}