body{
    background-color: rgb(242, 242, 242);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error {
    border: 2px solid red;
    width: 200px;
    height: 25px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: rgb(237, 237, 237);
}

.result {
    text-align: center;
    color:darkgreen;
}