.spreedshet {
  display: grid;
  text-align: center;
  grid-row-gap: 7px;

  .shet-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    grid-column-gap: 7px;
    margin-bottom: 20px;

    & div {
      background-color: rgb(216, 200, 200);
      padding: 10px;
    }
  }

  .shet-grid-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    & div {
      background-color: rgb(214, 212, 184);
    }
  }
}
