.hotels {
  padding: 120px 0 110px 0;
  background-color: #F0FFFF;
}

.hotels__list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  overflow: hidden;
}

.hotels-title {
  margin-bottom: 100px;
}

.hotels__item {
  margin-right: 16px;
}

.hotel__photo {
  width: 300px;
  height: 300px;
  margin-bottom: 15px;
}

.hotel__title {
  display: block;
  margin-bottom: 20px;
  font-size: 20px;
  color: #1E90FF;
}

.hotel__location {
  font-size: 20px;
  color: #A9A9A9;
}