.form {
  display: flex;
  width: 100%;
  height: 64px;
  padding-left: 24px;
  background-color: #fff;
  border-radius: 8px;
}

.form-input {
  position: relative;
  height: inherit;
  width: 100%;
}

.form-input__label {
  position: absolute;
  bottom: calc(100% + 24px);
  left: 0;
  font-size: 18px;
  color: #fff;
}

.form-input__search {
  height: inherit;
  width: 100%;
  border: none;
  outline: none;
}

.form-button {
  justify-self: flex-end;
  margin-left: auto;
  height: 100%;
  padding: 0 57px;
  border-radius: 8px;
  background-color: #3077C6;
  color: #fff;
  font-size: 24px;
  outline: none;
}