.form__wrapper {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 500px;
    margin: 0 auto;
}

form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    outline: none;
    width: 100%;
    background: #fff;
    margin-bottom: 3%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
}

form input.error {
    border-color: #e74c3c;
}

form input.success {
    border-color: #c3e6cb
}

.send__button {
    margin-top: 2%;
    width: 30%;
    padding: 3%;
    background: #007bff;
    border: 1px solid  #007bff;
    outline: none;
    color: #fff;
}

.send__button:hover {
    cursor: pointer;
    background-color: #225fbf;
    transition-duration: 0.5s;
}

form small {
    width: 100%;
    color: #e74c3c;
    text-align: left;
    margin-bottom: 1%;
    visibility: visible;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

