.footer {
    height: 148px;
    padding-top: 45px;
    background-color: #003395;   
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    color: #FCFCFC;
}
.footer p {
    text-align: right;
}