.header {
   display: flex;
   justify-content: space-between;
   width: 95%;
   min-height: 10vh;
   margin: 0 auto;
   margin-top: 2.5%;
   overflow: hidden;
}

.headerMenu {
   width: 60%;
   display: flex;
   justify-content: space-evenly;
   align-self: center;
   border-radius: 15px;
   background: rgb(255,255,255);
   background: linear-gradient(180deg, rgba(255,255,255,0.4) 4%, rgba(255,255,255,0.3) 2%);
}

.headerMenu > div{
   align-self: center;
   padding: 20px;
   display: flex;
}

.headerMenu > div > a{
   align-self: center;
   text-decoration: none;
   color: black;
   transition: .2s;
   font-size: 1.5em;
}

.headerMenu > div > a:hover{
   background-color: gray;
   padding: 10px;
   border-radius: 20px;
   transition: .3s;
   box-shadow: 0 0 20px 5px rgba(221, 221, 221, 0.7);
}

.logoHeader{
   display: grid;
}

.logoHeader > a {
   align-self: center;
}

.logoHeader > a > img{

   max-height: 7vh;
   border-radius: 15px;
   
}