.navigation {
  display: flex;
  width: 30%;
  justify-content: space-around;
  border-style: solid;
  border-color: blue;
  border-width: 1px;
}
.list-items {
  display: flex;
  width: 30%;
  flex-direction: column;
  align-items: flex-start;
  border-style: solid;
  border-color: blue;
  border-width: 1px;
}
.button-back {
  width: 100px;
  text-align: right;

  line-height: 20px;
  text-align: center;
}
.button-arrow {
  display: inline-block;
  width: 40px;
  height: 15px;
  background-image: url(./images/leftarrowsign_85800.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
}
.button-text {
  display: inline-block;
  line-height: 15px;
  margin: 0px;
  vertical-align: middle;
}
