.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #272727;
  font-family: 'Montserrat', sans-serif;
  padding: 0 3rem;
  margin: 2rem;
  border-radius: 10px;
}

.App-logo {
  width: 15%;
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #fddb3a;
}
