.container {
  width: 1000px;
  margin: 0 auto;

  .body__fieldset {
    display: flex;
    justify-content: space-around;
    height: 130px;
    margin-bottom: 20px;

    .body-main__fieldset {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & input {
        width: 260px;
        height: 30px;
        margin-right: 7px;
      }
    }

    .body-extra__fieldset {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & select {
        width: 260px;
        height: 30px;
        margin-right: 7px;
      }
    }

    .add__btn {
      height: 30px;
      width: 65px;
      position: relative;
      top: 83px;
      margin-right: 4px;
    }
  }
}
