%flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  @extend %flex-container;

  padding: 20px;
  background-color: #6c8ba7;

  &__contacts {
    @extend %flex-container;
    .contacts__item {
      margin: 0 20px;
      padding: 20px;
      font-size: 2em;
      color: #000;
      &:hover {
        cursor: pointer;
        color: #f4f2f2;
      }
    }
  }
}
