.section3 {
    display: flex;
    min-height: 250px;
    margin-bottom: 30px;
}

.col {
    flex-grow: 1;
    align-items: flex-start;
}

.col h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 15px;
}

.col ul {
    list-style: none;
}

.col ul li {
    margin-bottom: 15px;
}

.col ul li a {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #999999;
}

.col ul li a:hover {
    color: #000000;
}

.icon {
    color: #999999;
}