body {
  background-color: rgba(189, 119, 27, 0.46);
}

.myForm {
  width: 450px;
  height: 300px;
  margin: 0 auto;
  margin-top: 10%;
  display: grid;
  justify-content: center;
  align-content: space-around;
  border-radius: 10px;
  box-shadow: 15px 12px 28px rgba(0,0,0,0.4), 0 10px 40px rgba(0,0,0,0.3);

}

form {
  width: 400px;
  height: 200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 20px;
  outline: none;
  border: none;
  border-radius: 10px;
}

input {
  outline: none;
  border-radius: 8px;
  outline: none;
  border: 1px solid rgba(152, 115, 67, 0.6);
  font-size: 1em bold;
}

.myForm button {
  width: 30%;
  display: block;
  margin: 0 auto;
  height: 40px;
  align-self: center;
  font-size: 1em;
  border-radius: 5px;
}

.myForm button:hover {
  background-color: burlywood;
}

.formResult {
  margin-top: 10px !important;

  width: 80%;
  margin: 0 auto;
  border-radius: 20px;
}

.formResult > p {
  width: 80%;
  text-align: center;
  align-items: center;
  justify-self: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  font-size: 1.5em;
}

form > input {
  background-color: rgba(230, 251, 255, 0.864);
}

form > p {
  transition: 2s;
  text-align: center;
  font-size: 1em;
  line-height: 1em;
  background-color: rgba(127, 255, 212, 0.219);
  border: 10px;
  margin: 0 auto;
  width: 80%;

}

.info {
  background-color: rgba(133, 255, 167, 0.733);
}

.warning {
  background-color: rgb(249, 255, 73);
}

.error {
  background-color: rgb(255, 92, 92);
}