* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav ul {
  display: flex;
  list-style: none;
  border: 2px solid black;
}

nav ul li {
  margin-left: 30px;
}

nav a {
  display: block;
  text-decoration: none;
  font-size: 25px;
}

img {
  height: 150px;
  border: 2px solid black;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid black;
  padding: 10px;
}
