footer {
	margin-top: -4rem;
	background: #222;
	padding: 1rem 0;
	.flex-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.phones__mail {
			list-style: none;
			li {
				color: #fff;
				margin-bottom: 1rem;
				font-weight: bolder;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}
