.header {
     height: 372px;
     background-image: url(images/sky.png);
     background-size: cover;
 }
.header h1 {
    padding-top: 120px;
    text-align: left;
    font-weight: 500;
    font-size: 54px;
    line-height: 63px;
    color: #003395;
} 
.header p {
    text-align: left;
    padding-top: 33px;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;                    
    color: #000000;
} 