// ------ MEDIA QUERIS ------
$screen-xs-min: 414px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

// ------ COLOR ------
$general-blue: #3077C6;
$accent-blue: #EAF0F9;
$accent-yellow: #F5BD41;
$dark-mode-1: #121212;
$dark-mode-2: #1D1E1F;
$dark-mode-3: #4D4D4D;
$stroke-color-main: #F3F3F4;
$text-color-main: #383838;
$general-white: #FFFFFF;
$secondary-text: #BFBFBF;
$bg-color-main: #EAF0F9;

// ------ TYPOGRAPHY ------
// font-size
$xs: 18px;
$sm: 20px;
$md: 24px;
$lg: 40px;
$xl: 50px;