.searchForm {
    display: list-item;
    flex-direction: column;

    &__destination-title {
        margin: 0 0 24px 24px;
        @include font ($sm, $regular, $sm);
        color: $general-white-color;
    }

    &__title {
        margin-left: 24px;
        @include font ($sm, $regular, $sm);
    }

    &__input {
        max-width: 1232px;
        width: 100%;
        height: 64px;
        padding: 21px 24px;
        margin-bottom: 64px;

        @include font($sm, $regular, $sm);
        color: $main-text-color;

        border: 3px solid $main-stroke-color;
        border-radius: 8px;

        @include sm {
            height: 48px;
            padding: 8px 16px;
        }
    }

    &__input:focus {
        border: 3px solid $accent-blue-color;
    }

    &__not-found-title {
        @include font ($lg, $regular, $lg);
        color: $main-text-color;
        text-align: center;
    
        @include sm {
            @include font ($mobile-md, $regular, $mobile-md);
        }        
    }

    &__list {
        background: $general-white-color;
    }
}

.searchForm .searchForm__container {
    display: flex;
    flex-direction: row;
}