.container {
  width: 900px;
  margin: auto;
}
.todo-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
}
.task-item {
  display: block;
  width: 100%;
  list-style: none;
  font-size: 20px;
  line-height: 35px;
  margin-bottom: 5px;
}
.task-item-text {
  display: inline-block;
  width: 500px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
  margin-right: 10px;
  border-color: rgb(39, 61, 184);
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;

  text-align: left;
}
.task-item-text-done {
  border-color: rgb(128, 128, 128);
  background-color: rgb(224, 224, 224);
  color: rgb(87, 87, 87);
}

.task-item-checkbox {
  border-color: rgb(39, 61, 184);
  margin-left: 15px;
  cursor: pointer;
}
.task-item-button {
  display: inline-block;
  margin-left: 20px;
  font-size: 20px;
  width: 60px;
  line-height: 20px;
  border-color: rgb(39, 61, 184);
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  cursor: pointer;
}
