.main_available_hotels {
  background: #eaf0f9;
  padding-top: 120px;
}

.available_hotels_title {
  margin-bottom: 70px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #383838;
}

.available_hotels_list {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  max-width: 1235px;
  gap: 25px;
  margin: 0 auto;
  margin-top: 100px;
}

.hotels_list_item_image {
  width: 296px;
  height: 296px;
}

.hotels_list_item_name {
  margin: 25px 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #3077c6;
}

.hotels_list_item_location {
padding-bottom: 115px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #bfbfbf;
}
