*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Tahoma;
}

.container{
  max-width: 1200px;
  margin: auto;
}

.flex-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

