.search__input {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 31.25rem;
    padding-left: 1.5rem;
    color: $text-color;
    background: $general-white;
    border: 0.2rem solid $stroke-color;
    border-radius: 0.5rem;
    margin-bottom: 1.25rem;
}

.search__input:hover {
    background-color: #f7b32bff;
    z-index: 5;
    cursor: pointer;
    transition: background-color .4s ease-in-out;
}

.search__ul {
    margin: 0.9rem 0.9rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.875rem;
}

.hotel-title {
    display: flex;
    justify-content: space-around;
}

.hotel-title {
    align-items: center;
    font-size: 2rem;
    margin-bottom: 1rem;   
}

.search {
    display: flex;
    flex-direction: column;
}

.search__button {
    max-width: 5rem;
    margin-bottom: 3rem;    
    margin-left: 45rem;
    background-color: $secondary-text;
    border-radius: 0.6rem;
    border: solid 0.1rem;
}

.search__button:hover {
    background-color: #f7b32bff;
    z-index: 5;
    cursor: pointer;
    transition: background-color .4s ease-in-out;
}