.donation {
    background-color: #F6F6F6;
}

.donation__wrapper {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 83px;
    padding-bottom: 100px;
}

.donation__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
}

.donation__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 380px;
    margin-left: 30px;
    order: 2;
}

.donation__title {
    color: #545454;
    font-family: Georgia;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 20px;
}

.donation__subtitle {
    color: #545454;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    margin-bottom: 20px;
}

.donation__payment {
    display: flex;
    border-radius: 10px;
    padding: 10px 15px;
    border: none;
    background-color: #F1CDB3;
    cursor: pointer;
    outline: none;
    transition-duration: 0.5s;
    align-items: center;
    margin-bottom: 20px;
}

.donation__payment:hover {
    background-color: #FDDCC4;
}

.donation__payment-text {
    text-decoration: none;
    padding-left: 15px;
    color: #545454;
    font-family: Georgia;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

.donation__description {
    font-family: Arial;
    font-style: italic;
    color: #B2B2B2;
    font-size: 12px;
    line-height: 155%;
}

@media (max-width: 1279px) {
    .donation__image-wrapper {
        margin-top: 60px;
        order: 2;
    }
    .donation__content {
        order: 1;
        margin-left: 0;
        justify-content: center;
    }
    .donation__wrapper {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 767px) {
    .donation__wrapper {
        padding: 42px 10px;
    }
    .donation__title {
        font-size: 25px;
        text-align: center;
    }
    .donation__subtitle {
        letter-spacing: 0;
        line-height: 160%;
    }
    .donation__payment-text {
        font-size: 15px;
        line-height: 110%;
    }
    .donation__description {
        text-align: justify;
        margin-left: 3%;
        margin-right: 3%;
    }
    .donation__image-wrapper {
        width: 87%;
        margin-top: 42px;
    }
    .donation__image {
        width: 100%;
    }
    .donation__content {
        align-items: center;
    }
}