.hero {
    display: flex;
    margin-top: -60px;
    padding-top: 180px;
    background: 
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%,
     #262425 100%), #211F20;
}

.hero__wrapper {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.hero__image-wrapper {
    display: flex;
}

.hero__image {
    margin-left: 40px;
}

.content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 80px;
}

.content-section__title {
    font-family: Georgia;
    font-size: 44px;
    font-weight: 400;
    line-height: 130%;
    color: #FFFFFF;
}

.content-section__subtitle {
    margin-top: 42px;
    font-family: Arial;
    color: #CDCDCD;
    font-size: 15px;
    line-height: 160%;
    max-width: 460px;
}

.content-section__button {
    margin-top: 42px;
    width: 208px;
    border-radius: 100px;
    border: none;
    padding: 15px 45px;
    background-color: #F1CDB3;
    font-family: Georgia;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    cursor: pointer;
    outline: none;
    transition-duration: 0.5s;
}

.content-section__button:hover {
    background-color: #FDDCC4;
}

@media (max-width: 1279px) {
    .hero {
        padding-top: 150px;
    }
    .hero__wrapper {
        flex-direction: column;
    }
    .content-section {
        padding: 0 154px 100px 154px;
    }
    .content-section__subtitle {
        margin-bottom: 42px;
    }
    .content-section__button {
        margin: 0 auto;
    }
    .hero__image {
        width: 74%;
        margin-right: 4%;
        margin-left: auto; 
    }
}

@media (max-width: 767px) {
    .content-section {
        padding: 0 10px 105px;
        align-items: center;
    }
    .content-section__title {
        font-size: 25px;
        text-align: center;
    }
    .content-section__title {
        letter-spacing: 0.06em;
    }
    .content-section__subtitle {
        text-align: center;
    }
    .content-section__button {
        margin: 0 auto;
    }
    .hero__image {
        width: 81.25%;
        margin-right: 3%;
        margin-left: auto; 
    }
}