.pets {
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: #F6F6F6;
}

.pets__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.pets__title {
    color: #545454;
    font-family: Georgia;
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    max-width: 400px;
    font-style: normal;
    font-weight: normal;
}

span {
    display: block;
}

.pets__content {
    display: flex;
    align-items: center;
}

.pets-cards {
    display: flex;
    padding: 60px 8px;
}

.pets-cards__item {
    display: flex;
    flex-direction: column;
    border-radius: 9px;
    margin: 0 45px;
    background-color: #FAFAFA;
}

.pets-cards__item:hover {
    box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
    background-color: #FFFFFF;
}

.pets-cards__image {
    width: 100%;
}

.pets-cards__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.pets-cards__title {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
    margin: 30px 0;
}

.pets-cards__button {
    cursor: pointer;
    outline: none;
    border-radius: 100px;
    border: solid 2px #F1CDB3;
    background-color: transparent;
    padding: 15px 45px;
    font-family: Georgia;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    transition-duration: 0.5s;
}

.pets-cards__button:hover {
    border: solid 2px #FDDCC4;
    background-color: #FDDCC4;
}

.pets__button {
    border-radius: 100px;
    border: none;
    padding: 15px 45px;
    background-color: #F1CDB3;
    font-family: Georgia;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    cursor: pointer;
    outline: none;
    transition-duration: 0.5s;
}

.pets__button:hover {
    background-color: #FDDCC4;
}

.slider-button {
    width: 52px;
    height: 52px;
    border:2px solid #F1CDB3;
    border-radius: 100%;
    padding: 19px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    transition-duration: 0.5s;
}

.slider-button:hover {
    background: #FDDCC4;
    border:2px solid #FDDCC4;
}

.slider-button_reverted {
    width: 52px;
    height: 52px;
    border:2px solid #F1CDB3;
    border-radius: 100%;
    padding: 19px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    transition-duration: 0.5s;
}

.slider-button_reverted:hover{
    background: #FDDCC4;
    border:2px solid #FDDCC4;
}

@media (max-width: 1279px) {
    .pets {
        height: 877px;
    }
    .pets-cards__item:nth-child(3n) {
        margin-right: 40px; 
    }
    .pets-cards__item:nth-child(2n) {
        margin-right: 0; 
    }
}

@media (max-width: 767px) {
    .pets {
        height: 791px;
    }
    .pets__content {
        flex-direction: column;
        align-items: center;
    }
    .pets-cards {
        order: 1;
    }
    .slider-button {
        order: 2;
    }
    .slider-button_reverted {
        order: 2;
    }
}