.articles {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 40px;
}

.article {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 280px;
    width: 220px;
    border: 1px solid rebeccapurple;
    border-radius: 7px;
    margin: 10px;
    padding:10px;
}

.article p {
    padding: 5px 0px;
    height: 220px;
    width: 180px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.article button {
    padding: 5px 5px;
    margin: 10px 0;
}

