
.list__elem {
    color: white;
    text-decoration: none;
    list-style: none;
    border: solid 1px transparent;
    padding: 15px 15px 5px;
    text-align: center;
    vertical-align: middle;
}

.list__elem:hover {
    border: solid 1px #ffb800;
    border-radius: 10px;
}