.calculator {
  background-color: rgb(228, 217, 217);
  width: 100%;
  height: 100vh;
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr 2fr;

  .main__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    & h1 {
      margin: 25px 0;
      font-size: 45px;
    }
  }

  .nam-pad__div {
    padding-bottom: 25px;
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(4, 1fr);
    width: 400px;

    & button {
      width: 100%;
      height: 75px;
      border: 1px solid black;
      border-radius: 8px;
      font-size: 1rem;

      &:hover {
        background-color: rgb(121, 120, 120);
        border: 3px solid rgb(80, 79, 79);
        color: white;
      }
    }

    .zero__btn {
      grid-column: 1/3;
    }
  }
}
