h1 {
  margin-top: 137.5px;
  color: #3f4042;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 70px;
  line-height: 81px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
h1::after {
  display: block;
  content: "";
  width: 165px;
  height: 15px;
  background-image: url(../assets/vector-1.svg);
  background-size: 165px;
  background-repeat: no-repeat;
  margin-top: 36.5px;
}
h1 span {
  display: block;
  color: #3f4042;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 50px;
  line-height: 58px;
  text-shadow: none;
}
h1 span::after {
  content: "";
  width: 45.21px;
  height: 69.04px;
  display: inline-block;
  background-image: url(../assets/logo.png);
  background-size: 45.21px;
  background-repeat: no-repeat;
  margin-left: 8px;
  vertical-align: -6px;
}
p {
  margin-top: 25.97px;
  width: 535px;
  color: #3f4042;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  line-height: 147.6%;
}
.butt {
  display: inline-block;
  margin-top: 72px;
  height: 64px;
  padding: 0px 0px 0px 15px;
  border: 1px solid #c08d5d;
  color: #3f4042;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  text-decoration: none;
}
.butt::after {
  display: inline-block;
  content: "";
  width: 57px;
  height: 60px;
  border: 1px solid #c08d5d;
  background-color: #c08d5d;
  background-image: url(../assets/vector-2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 17px;
  margin-left: 11px;
  vertical-align: middle;
}
.mouse {
  display: block;
  width: 33.47px;
  height: 69.8px;
  margin: 62.6px auto 69px auto;
  background-image: url(../assets/mouse.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 33.47px;
}
