.header-logo {
    width: 10%;
    margin: 0 0 0 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(171, 255, 46, 0.6);
}

.header-nav a{
    text-decoration: none;
    padding: 5px 15px;
}

.header-nav a:hover {
    color: maroon;
}

.header-nav {
    display: flex;
    padding: 0px 60px;
    align-items: center;
}