.RecentCalls {
    background-color: brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3,h4 {
        color: lightgrey;
        font-size: 1.8rem;
    }
    a {
        text-decoration: none;
        font-size: 24px;
        margin: 12px 15px 12px 35px;
        color: antiquewhite;
        &:hover {
            text-decoration: underline;
            color: lavender;
        }
    }
}