.boxaside {
    padding: 16px 16px 18px;
    border: 2px solid #33008D;
    margin-bottom: 57px;
}
.aside h1 {
    padding: 14px 17px;
    border-width: 1px;
    background-color: #24B0FF;
    font-weight: bold;
    font-size: 27px;
    line-height: 32px;
    color: #FFFFFF;
}
.aside p {
    padding: 14px 20px 0px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #30233D;
}
.aside ul {
    padding: 14px 31px 4px 20px;
    list-style-type: none;
}
.aside div ul li a {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #30233D;
}