$color:rgb(15, 255, 27);

.sidebar a{
    text-decoration: none;
    color: rgb(129, 160, 152);
    transform: all;
    transition: 1.5s;
    &:hover{
        color: $color;
        transform: scale(1.1);
    }
}

.sidebar li{
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 20px;
}

.sidebar{
    padding: 30px;
    height: 500px;
    max-width: 220px;
    font-size: 25px;
    border-right: 1px solid rgba(15, 255, 27, 0.3);
}
