.info {
  border: solid 1px rgb(19, 89, 180);
  border-radius: 10px;
  text-align: center;

  h3 {
    padding: 10px;
  }

  a {
    font-size: 20px;
    margin-bottom: 15px;
    padding: 5px 10px;
    color: rgb(19, 89, 180);
    text-decoration: none;
    &:hover {
      background-color: rgba(223, 238, 182, 0.788);
      border-radius: 10px;
    }
  }

  button {
    background-color: rgba(19, 89, 180, 0.753);
    padding: 10px;
    border: solid 1px rgb(19, 89, 180);
    border-radius: 10px;
    margin: 5px 0;
    font-size: 15px;
    color: white;
    font-weight: 500;
    &:hover {
      background-color: rgba(223, 238, 182, 0.788);
      color: black;
    }
  }
}
