.button {
    width: 190px;
    padding: 20px;
    @include text-lg;
    color: $general-white;
    font-weight: $fw-medium;
    background: $accept-blue;
    border-radius: 8px;
    border: 3px solid $accept-blue;
    transition: 0.5s ease-in-out;
}

.button:hover {
    color: $accept-blue;
    background: $general-white;
    border: 3px solid $accept-blue;
}

.button:active {
    background: $dark-mode-1;
}