.form-search {
    align-self: center;
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    margin-bottom: 20px;
    padding-left: 24px;
    @include text-md;
    color: $text-color;
    background: $general-white;
    border: 3px solid $stroke-color;
    // box-shadow: 0px 3px 0px $general-white, 0px -3px 0px $general-white, 3px 0px 0px $general-white, -3px 0px 0px $general-white;
    border-radius: 8px;

    &__input::-webkit-input-placeholder { 
        @include text-md;
        color: $text-color; 
    }
}