.main_section_offer {
  background-color: #fff;
}

.section_offer_title {
  margin: 120px auto 104px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #383838;
}



.section_offer_list {
  margin: 0 202px;
  display: flex;
  justify-content: space-between;
}

.offer_list_item {
  text-align: center;
}

.offer_list_item_image {
  width: 100px;
  height: 100px;
  margin-bottom: 48px;
}

.offer_list_subtitle {
  margin-bottom: 122px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #383838;
}
