.tittactoegrid {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
    grid-gap: 5px;    
}

.tittactoecell {
    background-color: lavender;
    text-align: center;
    display: block;
    line-height: 50px;
}
