h2 {
 text-align: center;
 width: 50%;
 color: rgba(45, 236, 173, 0.993);
}
li {
 text-align: center;
 list-style-type: none;
 width: 50%;
 padding: 10px 15px;
 border-bottom: solid gray 1px;
 cursor: pointer;
 &:hover {
  background-color: rgba(156, 238, 211, 0.616);
 }

 a {
  text-decoration: none;
  color: black;
 }
}
