@import "./reset";
@import url("https://fonts.googleapis.com/css2?family=Blaka+Hollow&family=Roboto:ital,wght@0,100;0,400;0,500;1,900&display=swap");

.body {
  font-style: normal;
  font-weight: 400;
  color: #383838;
}
.container {
  max-width: 1440px;
  padding-bottom: 115px;
  background: #eaf0f9;
  padding: 0 20px;
  margin: 0 auto;
}
.wraper {
  display: flex;
}
.wraper :first-child {
  padding-right: 16px;
}
.wraper:nth-child(2) {
  margin-left: 100px;
}

.hotel__title {
  display: flex;
  justify-content: space-around;
  font-size: 40px;
  font-weight: 500;
  line-height: 46.88px;
  color: #383838;
  padding-top: 90px;
  padding-bottom: 80px;
}
.post {
  flex-direction: column;
  width: 296px;
  height: 435px;
}

.hotel_img {
  width: 295px;
  height: 295px;
  padding-bottom: 24px;
}
.hotel_name {
  font-size: 30px;
  line-height: 28.13px;
  padding-bottom: 24px;
  font-weight: 400;
  font-size: 24px;
  color: #3077c6;
}
.hotel_city {
  font-weight: 400px;
  font-size: 24px;
  line-height: 28.13px;
  color: #bfbfbf;
}

@media (max-width: 1240px) {
  .wraper {
    display: flex;
    flex-wrap: wrap;
  }
  .wraper:nth-child(2) {
    margin-left: 0px;
  }
}
@media (max-width: 992px) {
  .wraper {
    display: flex;
    flex-wrap: wrap;
  }
  .wraper:nth-child(2) {
    margin-left: 40px;
  }
  .hotel__title {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .wraper {
    display: flex;
    flex-wrap: wrap;
  }
  .wraper:nth-child(2) {
    margin-left: 80px;
  }
  .hotel__title {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (max-width: 576px) {
  .wraper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .wraper:nth-child(2) {
    margin-left: 50px;
  }
  .hotel__title {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .hotel_img {
    padding-bottom: 8px;
  }
  .hotel_name,
  .hotel_city {
    padding-bottom: 12px;
  }
}
