.searchForm {
    display: list-item;
    flex-direction: column;

    &__upTitles-container {
        margin-bottom: 24px;
        display: flex;
        justify-content: space-between;
    }

    &__destination-title {
        margin-left: 24px;
        @include font ($sm, $regular, $sm);
        color: $general-white-color;
    }

    &__check-in-title {
        width: 739px;
        margin-left: 24px;
        @include font ($sm, $regular, $sm);
        color: $general-white-color;
    }

    &__input {
        max-width: 1232px;
        width: 100%;
        height: 58px;
        padding: 21px 24px;
        margin-bottom: 64px;

        @include font($sm, $regular, $sm);
        color: $main-text-color;

        border: none;
        border-radius: 8px;

        @include sm {
            height: 36px;
            padding: 8px 16px;
        }
    }

    &__input:focus {
        border: 3px solid $accent-yellow-color;
        border-radius: 8px;
    }

    &__not-found-title {
        @include font ($lg, $regular, $lg);
        color: $main-text-color;
        text-align: center;
    
        @include sm {
            @include font ($mobile-md, $regular, $mobile-md);
        }        
    }

    &__list {
        background: $general-white-color;
    }
}

.searchForm__container {
    height: 64px;
    display: flex;
    flex-direction: row;
    background-color: $general-white-color;
    border: 3px solid $main-stroke-color;
    border-radius: 8px;
    @include sm {
        height: 42px;
    }
}