
.mainpart{
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    & h2{
        text-align: center;
        color: white;
        padding: 10px;
    }
    & p{
        color: white;
    }
    & div{
        max-width: 30%;
        & img{
            height: 250px;
            max-width: 100%;
            display:  flex;
            flex: 1 1 auto;
            border-radius: 7px;
        }
    }
}