.homes {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-bottom: 100px;
    font-weight: 500;
    font-size: $xl;
    line-height: 47px;
    color: $text-color-main;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.home {
  display: flex;
  flex-direction: column;
  margin: 5px;
  max-width: 296px;

  &__image {
    width: 296px;
    height: 296px;
    background: antiquewhite;
  }

  &__name {
    margin: 5px 0;
    font-weight: 400;
    font-size: $md;
    line-height: 28px;
    color: $general-blue;
  }

  &__location {
    margin: 5px 0;
    font-weight: 400;
    font-size: $md;
    line-height: 28px;
    color: $secondary-text;
  }
}