$general-blue: #10367C;
$general-white: #FFFFFF;
$accept-blue: #3077C6;
$accept-yellow: #F5BD41;
$dark-mode-1: #121212;
$dark-mode-2: #1D1E1F;
$dark-mode-3: #4D4D4D;
$stroke-color: #F3F3F4;
$text-color: #383838;
$secondary-text: #BFBFBF;
$bg-color: #EAF0F9;
$modal-color: #333333;

$font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

$fs-xs: 12px;
$fs-sm: 16px;
$fs-md: 18px;
$fs-lg: 24px;
$fs-xl: 28px;
$fs-xxl: 40px;
