.DogTable {
    margin-top: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    table {
        border-collapse: collapse;
    }
    tr, td {
        cursor: pointer;
        border: 1px solid gray;
        padding: 15px;
        background-color: darkkhaki;
    }
    td {
        font-size: 18px;
        font-weight: 600;

        &::first-letter {
            text-transform: capitalize;
        }
        &:hover {
            background-color: sienna;
            border: 1px solid orange;
            color: orange;
        }
    }
}