main{
    padding: 55px 0 62px;
    color: #30233D;
}

main a{
    color: #30233D;
}

main a:hover{
    color: blue;
}

h2{
    border-top: 2px solid #003395;
    border-bottom: 2px solid #003395;
    font-weight: 700;
    color: #003395;
    padding: 15px 1px;
    margin-bottom: 16px;
}

.left-part{
    float: left;
    width: 754px;
}

.left-part p{
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 34px;
}

aside{
    float: right;
    width: 362px;
}

.side-column{
    border: solid 2px #33008D;
    padding: 19px; 
    margin-bottom: 56px;
}

.side-column h3{
    background-color: #24B0FF;
    color: #ffffff;
    font-size: 27px;
    padding: 14px 17px;
    margin-bottom: 14px;
}

.column-text {
    font-size: 16.2px;
    max-width: 290px;
    padding: 0 17px;
    line-height: 26.46px;
}

.side-column li{
    list-style-type: none;
}

.clearfix{
    clear: both;
}