#about {
	background: #efefef;

	img {
		width: 20%;
		object-fit: cover;
		object-position: center;
	}
	.caption {
		width: 75%;
		h2 {
			width: 80%;
			margin-bottom: 1rem;
		}
		p {
			margin-bottom: 1rem;
			line-height: 1.5;
			color: rgb(80, 80, 80);
		}
	}
}
