form{
    max-width: 300px;
    margin: 50px auto;
}

label{
    display: block;
    margin: 10px 0
}

input{
    padding: 5px;
    margin: 5px 0;
    width: 100%;
}

button{
    width: 100%;
    padding: 10px 20px;
    background: rgb(108, 0, 99);
    color: #fff;
    border: none;
    border-radius: 3px;
}

.error{
    background: rgb(255, 201, 195);
    padding: 10px;
    color: rgb(181, 0, 0);
}