* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	width: 50%;

	margin: 0 auto;
}

form {
	margin: 5rem 0;
	width: 100%;
	display: flex;
	align-items: center;
	input {
		border: 1px solid #222;
		width: 80%;
		padding: 1rem;
	}
	button {
		background: #438bd0;
		color: #fff;
		padding: 1rem;
		border: none;
		border: 1px solid #438bd0;
	}
}
