.text {

    width: 750px;
    margin: 20px auto;
    color: white;
    background: rgba(27, 61, 100, 1);
    padding: 70px;
    position: relative;
    z-index: 3;



}
.container {
    background: rgba(72, 154, 212, 0.5);
    margin: auto;
    padding: 20px 0px;


}