footer {
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    background-color: #1B1E22;
    padding: 40px 0;
}
footer p {
    line-height: 16px;
    padding-right: 20px;
    padding-bottom: 10px;
}

footer .container {
    display: flex;
    justify-content: space-around;
}

.footer-flex {
    display: flex;
    flex-direction: row;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.contact {
    color: #FFB800;
}