html {
    scroll-behavior: smooth;
}

body {
    font-style: normal;
    font-weight: $fw-regular;
    color: $text-color;
}

.container {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}