// TYPOGRAPHY
// Text sizes
@mixin text-xs {
    font-size: $fs-xs;
    line-height: $lh-xs;
}

@mixin text-sm {
    font-size: $fs-sm;
    line-height: $lh-sm;
}

@mixin text-md {
    font-size: $fs-md;
    line-height: $lh-md;
}

@mixin text-lg {
    font-size: $fs-lg;
    line-height: $lh-lg;
}

@mixin text-xl {
    font-size: $fs-xl;
    line-height: $lh-xl;
}

@mixin text-xxl {
    font-size: $fs-xxl;
    line-height: $lh-xxl;
}

// MEDIA QUERIES
// Small devices
@mixin sm {
    @media (max-width: #{$screen-sm-max}) {
        @content;
    }
}

// Medium devices
@mixin md {
    @media (max-width: #{$screen-md-max}) {
        @content;
    }
}

// Large devices
@mixin lg {
    @media (max-width: #{$screen-lg-max}) {
        @content;
    }
}

// Extra large devices
@mixin xl {
    @media (max-width: #{$screen-xl-max}) {
        @content;
    }
}