// COLORS
$general-blue: #10367C;
$general-white: #FFFFFF;

$stroke-color: #F3F3F4;
$text-color: #383838;
$secondary-text: #fcf6b1ff;
$bg-color: #EAF0F9;

// Font sizes
$fs-xs: 12px;
$fs-sm: 15px;
$fs-md: 18px;
$fs-lg: 24px;
$fs-xl: 28px;
$fs-xxl: 40px;

// Line height
$lh-xs: 14px;
$lh-sm: 18px;
$lh-md: 22px;
$lh-lg: 28px;
$lh-xl: 33px;
$lh-xxl: 47px;

// Font weigths
$fw-regular: 400;
$fw-medium: 500;

// MEDIA QUERIES
// Small tablets and large smartphones (landscape view)
$screen-sm-max: 576px;

// Small tablets (portrait view)
$screen-md-max: 768px;

// Tablets and small desktops
$screen-lg-max: 992px;

// Large tablets and desktops
$screen-xl-max: 1200px;