
.params_container {
  background-color: $stroke-color;
  position: absolute;
  padding: 10px;
  min-width: 259px;
  left: 57.5%;
  top: 64%;
  border-radius: 8px;
  padding: 22px;
}

.params_item {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.params_button {
    padding: 0 18px;
  max-width: 314px;
  width: 100%;
  height: 64px;
  background-color: #fff;
  border: 3px solid $stroke-color;
  border-radius: 8px;
  font-family: $font;
  font-style: normal;
  color: $text-color;
  font-weight: 400;
  font-size: $fs-md;
  line-height: 21px;
}

.params_item_title {
  min-width: 80px;
  font-family: $font;
  font-style: normal;
  font-weight: 400;
  font-size: $fs-md;
  line-height: 19px;
  color: $modal-color;
}

.params_item_btn {
  padding: 4px 9px;
  border: 1px solid $accept-blue;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: $fs-md;
  line-height: 21px;
  text-align: center;
  color: $accept-blue;
}

.item_counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.params_item_number {
  font-family: $font;
  font-style: normal;
  font-weight: 400;
  font-size: $fs-md;
  line-height: 19px;
  color: $modal-color;
}
