.selectAge_container {
    margin-top: 15px;
    max-width: 200px;
    width: 100%;
}

.selectAge_title {
margin: 15px auto;
    
font-family: $font;
font-style: normal;
font-weight: 400;
font-size: $fs-sm;
line-height: 14px;
color: $modal-color;
}

.selectAge_block {
    font-family: $font;
}