header{
    height: 252px;
    background-image: url(sky.png);
    background-size: cover;
    padding-top: 120px;
}

header h1{
    font-weight: 500;
    font-size: 54px;
    margin-bottom: 33px;
    color: #003395;
    padding: 4px;
}

header p{
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}