/* Basic Style */
body {
  background:white;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  display: block;
  width: 600px;
  margin: 0 auto 0;
}

input, button {
  outline: none;
}
button {
  background: none; 
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
  width: 300px;
  border: 2px solid black;
  margin: 10px;
  margin-left: 335px;
}
button:hover {
  color:black;
}

input {
  margin: 0;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 18px;
  height: 25px;
  padding: 10px;
  margin: 10px;
  border: 2px solid gray;
  background:white; 
  color: gray;
  width: 600px;
}

input.error {
  border: 2px solid red;
}
p, h3 {
  margin: 10px;
}