form{
    width:300px;
    display: flex;
    flex-direction: column;
    margin:20px;
    padding: 30px;
    background-color: rgba(112, 255, 255, 0.521);
    border-radius: 20px;
    
    label{
        margin-bottom: 16px;
        input{
            width: 98%;    
            margin-bottom: 10px;
        }
        p{
            border: 1px solid rgb(224, 117, 9);
            color:rgb(224, 117, 9);
            font-size: 15px;
            border-radius: 6px;
            padding:8px 4px;
            margin: 5px 0;      
        }

        span{
            display: block;
            border: 1px solid rgb(223, 29, 15);
            border-radius: 6px;
            font-size: 15px;
            color:rgb(223, 29, 15);
            padding:8px 4px;        
        }
    }   
}