.header {
  box-shadow: rgba(102, 102, 102, 0.06) 0px 5px 7px;

  &__list {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    list-style: none;

    .list__item {
      margin: 5px;
      padding: 10px;
      font-size: 1.5rem;
      color: #000;
      text-decoration: none;

      &:hover {
        color: #6c8ba7;
        cursor: pointer;
      }
    }
  }
}
