.available-hotels {
  padding: 120px 0;
}

.available-hotels__title {
  margin-bottom: 40px;
  padding-top: 0;
}

.not-found__icon {
  width: 24px;
  height: 24px;
  margin-bottom: 20px;
  object-fit: contain;
}

.not-found__text {
  font-size: 16px;
  text-align: center;
}