* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 900px;
  margin: 0 auto;

  .fieldset_firstMain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;

    & input {
      width: 250px;
    }
  }

  .fieldset_secondForm {
    padding: 10px;

    & select {
      width: 250px;
    }
  }

  label {
    display: flex;
  }

  span {
    color: black;
    padding-left: 5px;
    padding-top: 5px;
  }
}
