* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.App {
  box-sizing: content-box;
  margin: 0 auto;
  max-width: 500px;
  background-color: skyblue;
  padding: 30px;
}