.button {
    width: 200px;
    height: 45px;
    background: #FFB800;
    font-size: 16px;
    line-height: 16px;
    color: #333333;
    text-align: center;
    border: none;
    margin: 50px auto;
    display: block;
}

.button:hover {
    cursor: pointer;
}